/* Enlace para el diseño de XD https://xd.adobe.com/view/7800ef84-0b71-4e28-7d02-b86c30343823-0e31/screen/5a257c15-bd57-4c4a-a658-3224c01f6f23/Home */

/* aqui empiezan las variables */

:root {
  /* colors */
  --main-yelow: #f89808;
  --soft-yelow: #ecb13b;
  --main-blue: #081838;
  --link-blue: #2c63cf;
  --link-blue-hover: #427ef7;
  --mid-blue: #103786;
  /* shadows */
  --box-shadow-main: 0px 3px 6px #00000029;
}

/* Aqui empiezan los estios */
html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: "Open Sans";
}

/* Aquí empieza el Header */

header {
  height: 150px;
  padding: 20px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 8px 8px var(--main-blue);
}

header div {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

header div i {
  color: var(--main-yelow);
  font-size: 100px;
}

header div p {
  font-weight: bold;
  font-size: 60px;
  margin: 0px;
  margin-top: 10px;
  color: var(--main-blue);
}

header nav ul {
  display: flex;
  list-style: none;
  font-size: 30px;
  font-weight: bold;
}

header nav ul li a {
  color: var(--main-blue);
  text-decoration: none;
  margin-left: 40px;
}

/* Aquí empieza el hero */

.hero {
  height: 800px;
  background-image: url("https://images.pexels.com/photos/2118863/pexels-photo-2118863.jpeg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.product-show {
  padding-top: 460px;
  display: inherit;
  justify-content: inherit;
}

.product-hero {
  color: white;
  width: 280px;
  height: 295px;
  background-color: var(--soft-yelow);
  text-align: center;
  margin: 0px 24px;
  box-shadow: var(--box-shadow-main);
}

.product-hero h2 {
  font-weight: bold;
  font-size: 50px;
  margin: 0px;
  margin-top: 28px;
}

.product-hero p {
  font-weight: regular;
  font-size: 30px;
  margin: 0px;
  margin-bottom: 20px;
}

.product-hero.comprar {
  background-color: var(--link-blue);
  padding: 10px 60px;
  margin-top: 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
}

.product-hero.comprar:hover {
  background-color: var(--link-blue-hover);
}

/* aqui empiezan los beneficios */

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit {
  text-align: center;
  padding: 30px;
}

.benefit-icon i {
  font-size: 200px;
}

.fas.fa-bed {
  font-size: 180px;
}

.benefit-icon {
  width: 350px;
  height: 350px;
  background-color: #f1f2f3;
  color: #d5dbe7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit-tittle {
  color: var(--link-blue);
  font-weight: bold;
  font-size: 50px;
  margin: 68px 0px 55px 0px;
}

.benefit-description {
  color: var(--mid-blue);
  font-size: 40px;
  margin-bottom: 82px;
}

/* aqui terminan los beneficios y empiezan los testimonios */

.people {
  background-color: var(--main-yelow);
  padding: 130px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.person {
  text-align: center;
}

.person-image {
  height: 280px;
  weight: 280px;
  box-shadow: var(--box-shadow-main);
  border-radius: 50%;
}

.person-name {
  font-size: 50px;
  letter-spacing: 0px;
  color: var(--mid-blue);
  font-weight: normal;
}

.person-comment {
  font-size: 30px;
  font-style: italic;
  color: white;
}

/* aquí va el footer */

footer {
  background-color: var(--mid-blue);
  height: 150px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.footer-tittle {
  font-size: 80px;
  font-weight: 700;
}

.footer-links {
  color: inherit;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
}
