@media (max-width: 600px) {
  /* aqui va el header */
  header {
    padding: inherit 10%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  header nav ul li a {
    margin: 0px;
  }
  header nav ul li {
    margin: 0px 10px;
  }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  header nav {
    height: 50%;
  }

  /* Aqui va el Hero responsive */
  .hero {
    display: inherit;
    justify-content: center;
    height: auto;
  }

  .product-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20%;
  }

  .product-hero {
    width: 60%;
    height: 295;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .product-hero a {
    width: 40%;
  }
  /* Aqui empiezan los benefits */

  .benefits {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .benefit {
    padding: 0px;
    margin: 5px 10px;
  }
  /* aqui estan los comentarios */
  .person {
    text-align: center;
    margin: 20px 10px;
  }
  .person-name {
    margin: 10px 0px;
  }
}
